//container referente a estilização das divs de usuarios
.container{
    width: 100%;
    height: 150px;
    background: rgb(57,58,94);
    background: linear-gradient(180deg, rgba(57,58,94,1) 0%, rgba(40,42,63,1) 100%);
    margin: 1px 0px;
    //conteudo que existe dentro da div container
    .content{
        max-width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px auto;
        img{
            height: 70%;
            border-radius: 50%;
            margin-right: 20px;
        }
        .text-user{
            margin-right: auto;
            P{
                margin: 0px;
                color: #fff;
                font-size: 1.5rem;
                font-weight: 400;
            }
        }
        button{
            padding: 5px 10px;
            font-weight: bold;
            cursor: pointer;
        }
    }
    @media screen and (max-width:768px) {
        .content{
            max-width: 95%;
            img{
                height: 50%;
                margin-right: 10px;
            }
            .text-user{
                p{
                    font-size: 1rem;
                }
                @media screen and (max-width: 480px) {
                    p{
                        font-size: 0.8rem;
                    }
                }
            }
            button{
                padding: 0px 4px;
            }
        }
    }
}
//responsavel pela estilização da div background-modal para realizar o mudança no modal de true(display:block) para false(display:false)
.background-modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
}
//conteudo existente dentro da div modal-content
.modal-content{
    background-color: #fff;
    width: 40%;
    height: 250px;
    position: fixed;
    left: 30%;
    top: 10%;
    display: none;
    .modal-title{
        width: 100%;
        height: 70px;
        background: rgb(57,58,94);
        padding: 25px 25px;
        p{
            color: #fff;
            span{
                color: yellow;
            }
        }
    }
    .content-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;

        input, select{
            width: 80%;
            height: 30px;
            margin: auto;
            margin-bottom: 20px;
            border-radius: 5px;
            border-width: 0.5px;
            border-style: inset;
        }
        input, select, button:focus{
            outline-style: none;
        }
        button{
            width: 50px;
            margin: auto;
            cursor: pointer;
        }
    }
    //conteudo exixstente dentro da modal de recibo de pagamento
    .content-modal-pay{
        width: 100%;
        height: calc(100% - 70px);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        p{
            font-size: 1.5rem;
            font-weight: bold;
        }
        @media screen and (max-width: 768px){
            p{
                font-size: 1rem;
            }
        }
    }
}
@media screen and (max-width:768px){
    .modal-content{
        width: 90%;
        left: 5%;
    }
}